<h1>About</h1
	<p>

		This application is an entry into the
		<%= link_to "My Health App Challenge", "http://healthappchallenge.com" %>
		from Vanderbilt University Medical Center. It is designed to allow patients to quickly and easily access important medical records and lab results.
	</p>
	After using the site, patients should have a better understanding of their current health status, and how to maintain or improve their health in the future. Prevention and early detection is always the best way to fight against sickness.