<div class="row-fluid">
  <div class="span4">
  	<h2>Navigation Bar</h2>
  </div>
  <div class="span8">
		<div class="hero-unit">
			<h1>VUMC App Challenge</h1>
		<p>
			You/ve found the home page for the
		<%= link_to "Vanderbilt App Challenge", "#" %>
		application.
		</p>
		<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-inverse btn-large"%>
	</div>
</p>
</div>
</div>

