    <tr>
        <td><%= data.description %></td>
        <td><%= link_to 'Show', data %></td>
        <% if current_user == datum.user %>
        <td><%= link_to 'Edit', edit_datum_path(datum) %></td>
        <td><%= link_to 'Destroy', datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    </tr>