<div class="row">
	<div class="span6 offset3">
		<div class="well">
<p>
  <%= @datum.description %>
</p>
<p>
  <%= @datum.user.name %>
</p>
<% if current_user == @datum.user %>
<%= link_to 'Edit', edit_datum_path(@datum) %> |
	<% end %>
<%= link_to 'Back', data_path %>
        </div>
    </div>
</div>